.p0{
    text-transform:  uppercase;
    text-decoration: underline;
}
.p1{
    text-transform: capitalize;
    text-decoration: overline;
}
.p2{
    text-transform: lowercase;
    text-decoration: line-through;
}
.p3{
    text-decoration: underline wavy yellowgreen;
    text-shadow: 2px 2px 4px yellowgreen;
}
.p5{
    color: yellowgreen;
    text-shadow: 0px 15px 0px;
    text-decoration: underline wavy;

}
b{
    background-color: black;
    text-decoration: underline dashed yellowgreen;
    text-shadow: 2px 2px 4px yellowgreen;
    font-size: larger;
}