.info-table{
    margin: 1px;
    border-bottom: 5px dashed red;
    border-top: 2px solid blue;
    border-left: 10px dotted green;
    border-right: 100px double cyan;
    border-width: 10px;
    text-align: left;
    width: 100%;
}