/*1) პირველ რიგში გადახედეთ თავიდან ჩანაწერს და კომენტარების სახით დაწერეთ ყველა pseudo-სელექტორის მნიშვნელობა*/
.a2{
    width: 100px;
    height: auto;
}
.a2:link{
    /*ეს მუშაობს მაშინ როცა ლინკიზე არაა დაჭერილი ხელი*/
    color: rgb(68, 229, 14);
    background-color: black;
    text-decoration: none;
    
}
.a2:visited{
    /*ეს მუშაობს მაშინ როცა ლინკიზე უკვე არის დაჭერილი ხელი*/
    color: aliceblue;
    background-color: black;
    text-decoration: none;
}
.a2:hover{
    /*ეს მუშაობს მაშინ როცა ლინკიზე მაუსს გადავატარებთ*/
    color: cyan;
    background-color: black;
    width: 150px;
    height: auto;
    text-decoration: underline;
    text-shadow: 2px 2px 2px;
    transition: 1s;
}
.a2:active{
    /*ეს მუშაობს მაშინ როცა ლინკიზე ამ მომენტში არის დაჭერილი ხელი*/
    color: rgb(0, 0, 0);
}
/*2) გამოიყენეთ :link რათა ყველა არასდროს დაჭერილი ლინკის ფერი იყოს ლურჯი*/
.a1:link {
    color: blue;
}
/*3) გამოიყენეთ :visited რათა ყველა უმვე მონახულებული ლინკის ფერი იყოს იასამნისფერი*/
.a1:visited {
    color: purple;
}
/*4) გამოიყენეთ :hover რათა მაუსის ლინკზე გადატარებისას ტექსტის ფერი და background შეიცვალოს*/
.a1:hover {
    color: white;
    background-color: black;
}

/*5) გამოიყენეთ :active რათა ლინკზე დაჭერის მომენტში background გამუქდეს და ტექსტის ზომა შეიცვალოს*/
a:active {
    background-color: darkgray;
    font-size: larger;
}

/*6) შექმენი ლინკი, რომელიც ნორმალურ მდგომარეობაში შავი ფერის იქნება, ხოლო :hover-ის დროს შეიცვალოს მუქი ნაცრისფრად.*/
a {
    color: black;
}

a:hover {
    color: darkgray;
    text-decoration: underline;
}
/*7) შექმენი ლინკები, რომლებიც :hover მდგომარეობაში მიიღებენ underline (ხაზგასმას), ხოლო ნორმალურ მდგომარეობაში არა*/
.hello:hover {
    text-decoration: underline;
}