body {
    font-family: Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #333;
}

h1 {
    color: #4CAF50;
    font-size: 2.5em;
}

p {
    color: #FF6347;
    font-size: 1.2em;
}
