/* Margin და Padding მაგალითი */
.box {
    background-color: #f0f0f0;
    margin: 20px;  /*ელემენტის გარე სივრცე */
    padding: 20px; /*ელემენტის შიდა სივრცე */
    border: 2px solid #333;
}
/* List Style მაგალითი */
ul.styled-list {
    list-style-type: square;
    list-style-position: inside;
    list-style-image: url('tasty.jpg');
}